#nosotros{
    width: 80%;
    padding: 20px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nosotros{
    width: 90%;
    margin-right: 30px;
}
#chavin{
    width: 400px;
}
aside{
    background-color: coral;
}