#nosotros{
    display: flex;
    flex-direction: column;
}
@media (max-width: 1115px){
    .cont-banner{
        width: 450px;
    }
}
@media (max-width: 900px){
    .cont-banner{
        width: 300px;
    }
    .card{
        margin-bottom: 20px;
    }
    form{
        width: 600px;
    }
}
@media (max-width: 700px){
    .banner{
        padding-top: 40px;
    }
    .cont-banner{
        padding-bottom: 20px;
    }
    .info-banner{
        flex-direction: column;
    }
}
@media (max-width: 360px){
    .cont-banner{
        width: 300px;
        transform: translate(-80px, 200px);
    }
    #tumi{
        transform: translateX(30px);
    }
    .nosotros{
        width: 300px;
        margin-left: 30px;
    }
    #chavin{
        width: 300px;
    }
    .banner{
        height: 150vh;
    }
}